@{
   ViewData["Title"] = "Home Page";
}

<div class="container">
   <div ng-view>
      <p>Loading...</p>
      <noscript>
         <div class="row">
            <div class="col-md-4">
               <img src="~/images/clippy.jpg" alt="Clippy" />
            </div>
            <div class="col-md-8">
               <h1>I see you have JavaScript disabled...</h1>
               <p>Whether it be for privacy, security, or you are using a browser left over from the stone age, I understand. Well, not the browser problem. Come on, get with the times.</p>
               <p>This site was developed using <a href="https://angularjs.org/">AngualarJS</a>, a front-end JavaScript framework which does not function without script execution in the browser.</p>
               <p>If you are concerned about privacy or security, the source code for the application can be found on <a href="https://github.com/ryantate314/green-scene">GitHub</a>.</p>
            </div>
         </div>
      </noscript>
   </div><!--/ng-view-->
</div><!--/.container-->
<script type="text/ng-template" id="homeTemplate.html">
   <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="scene in scenes">
         <div class="panel panel-default">
            <div class="panel-heading">
               <a href="#!/scene/{{scene.key}}" ng-bind="scene.title"></a>
            </div>
            <div class="panel-body">
               <div class="scene-preview">
               </div>
            </div>

         </div>
      </div>
   </div>
</script>

@section Scripts {
<environment names="Development">
   <script src="~/lib/angular/angular.js"></script>
   <script src="~/lib/angular-route/angular-route.js"></script>
   <script src="~/lib/angular-animate/angular-animate.js"></script>
   @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize-min.js"></script>*@
   <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
   <script src="~/app/app.js" asp-append-version="true"></script>
   <script src="~/app/controllers/homeController.js" asp-append-version="true"></script>
   <script src="~/app/controllers/sceneController.js" asp-append-version="true"></script>
   <script src="~/app/controllers/fileSelectController.js" asp-append-version="true"></script>
   <script src="~/app/services/sceneDataService.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"
           asp-fallback-src="~/lib/angular/angular.min.js"
           asp-fallback-test="window.angular"
           crossorigin="anonymous">
   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"
           asp-fallback-src="~/lib/angular-route/angular-route.min.js"
           crossorigin="anonymous">
   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate-min.js"></script>
   @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize-min.js"></script>*@
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
   <script src="~/app/app-bundle.min.js"></script>
</environment>
}